.slider_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 25px;
}
.slider_header h3 {
  font-size: 2rem;
  font-weight: bold;
}
.slider_header a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--brand-secondary);
}
.slider_header a:hover {
  text-shadow: var(--brand-secondary) 1px 0 10px;
}

.btn_area {
  border-radius: 25px;
  border: none;
  background-color: #f1f5f5;
  width: 90px;
  height: 40px;
  text-align: center;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.btn_area a .active {
  background-color: var(--brand-secondary);
}
.btn_area:hover {
  background-color: var(--brand-secondary);
}

.area_link {
  width: 70% !important;
  text-decoration: none;
  color: var(--dark);
}
.firstArea {
  background-color: var(--brand-secondary);
}

@media only screen and (min-width: 768px) {
}
