* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------------------------------- */

.card {
  width: 100%;
}

.link {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  border-radius: 16px;
  border: var(--border-lightmode);
  box-shadow: var(--shadow-lightmode);
  padding: 8px;
  background: var(--neutral-true-white);
}

.image {
  width: 100%;
  border-radius: 16px;
}

.name_container {
  width: 100%;
  max-width: 85px;
}

.name {
  font-size: 16px;
  line-height: 145%;
  color: var(--neutral-dark);
  overflow: hidden;
  text-overflow: ellipsis; /* Wenn  Text zu lang ist wird ... angehängt */
  flex: 1;
  white-space: nowrap;
}

/* - darkmode  */

.dark .name {
  color: var(--white);
}

.dark .container {
  border: var(--border-darkmode);
  box-shadow: var(--shadow-darkmode);
}

/* - media queries  */

@media only screen and (min-width: 768px) {
  .name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    min-height: 47px;
    white-space: normal;
  }

  .name_container {
    max-width: 100%;
  }
}
