* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------------------------------- */

.card {
  width: 100%;
}

.link {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  border-radius: 16px;
  border: var(--border-lightmode);
  box-shadow: var(--shadow-lightmode);
  padding: 8px;
  background: var(--neutral-true-white);
}

.image {
  width: 100%;
  border-radius: 16px;
}

.name {
  font-size: 16px;
  line-height: 145%;
  color: var(--neutral-dark);
  white-space: nowrap; /* Text wird in einer Zeile dargestellt */
  overflow: hidden;
  text-overflow: ellipsis; /* Wenn  Text zu lang ist wird ... angehängt */
  flex: 1;
  max-width: 100px;
  /* - max-width muss bei responsive raus, aber nur so geht das mit dem text-wrap */
}

/* - darkmode  */

.dark .name {
  color: var(--white);
}

.dark .container {
  border: var(--border-darkmode);
  box-shadow: var(--shadow-darkmode);
}

/* - media queries  */

/* @media only screen and (min-width: 768px) {
  .name {
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    min-height: 47px;
  }
} */
