.img {
  width: 100%;
  height: 40vh;
  z-index: -100;
}

.details {
  border-radius: 50px;
  width: 100vw;
  padding-top: 40px;
}

.details h1 {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0 auto 10px 25px;
}

.details h3 {
  color: var(--text-gray);
  font-weight: 600;
  font-size: 1.6rem;
  margin: 0 auto 10px 25px;
}

.details h4 {
  color: var(--text-gray);
  font-weight: 400;
  font-size: 1.6rem;
  margin: 0 auto 10px 25px;
}

.buttondiv {
  background-color: #e6ebf2;
  padding: 3px 1px;
  display: block;
  width: 90%;
  margin: 0 auto;
  border-radius: 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}

.details button {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 12px 30px;
  width: 48%;
  border: none;
  border-radius: 15px;
  margin: 3.3px;
}
.input {
  -webkit-appearance: none;
  appearance: none;
}

.input::before {
  width: 40px;
  height: 40px;
  background-image: url("/img/herz-leer.png");
  display: block;
  content: "";
  float: left;
  margin-bottom: 30px;
  z-index: 5;
}
.input:checked::before {
  background-image: url("/img/herz-rot.png");
}

.dark .input::before {
  background-image: url("/img/herz-weiß.png");
}

.dark .input:checked::before {
  background-image: url("/img/herz-rot.png");
}

/* --- Instructions */

.instructions {
  padding-bottom: 10%;
}

.instructions h2 {
  font-size: 2rem;
  margin: 25px;
}

.instructions p {
  color: var(--text-gray);
  font-size: 1.6rem;
  line-height: 145%;
  margin: 0 60px 40px 25px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px rgba(128, 128, 128, 0.2);
  word-wrap: break-all;
}

.instructions a {
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  background-color: var(--brand-secondary);
  color: white;
  font-size: 1.6rem;
  font-weight: 800;
  display: block;
  margin: 0 auto 50px auto;
  padding: 16px 0;
  width: 90%;
  transition: 1s;
}

.instructions button:hover {
  background-color: transparent;
  color: var(--brand-secondary);
  border: 1px solid var(--brand-secondary);
}

/* --- Ingredients */

.ingredients {
  padding-bottom: 10%;
}

.ingredients h2 {
  font-size: 2rem;
  margin: 25px;
}

.ingredients p {
  font-weight: 700;

  font-size: 1.6rem;
  line-height: 145%;
  margin: 0 60px 10px 25px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px rgba(128, 128, 128, 0.2);
  word-wrap: break-all;
}

/* loadingscreen falls Daten nicht da sind */
.loading {
  color: var(--brand-secondary);
  text-align: center;
  font-weight: 800;
  font-size: 3rem;
  margin-top: 70%;
}

/** für den Toggle */

.black {
  background-color: black;
  color: #ffffff;
}

.icon {
  font-family: Montserrat;
  color: black;
  padding-bottom: 25%;
}

.icon p {
  display: inline;
  font-size: 1rem;
}

.icon a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  /* .buttondiv {
    max-width: 700px;
    margin: 0 auto;
  } */
  .img {
    height: 100%;
    width: 30%;
    display: block;
    margin: 0 auto;
  }
}
