.main {
  padding-top: 100px;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 25%;
}
.card {
  margin: 10px auto 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  border-radius: 16px;
  padding: 20px;
  border: 1px solid var(--brand-secondary);
  box-shadow: var(--shadow-lightmode);
  background: var(--neutral-true-white);
}
.card_link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 65%;
}
.favorite {
  text-decoration: none;
  margin-top: 10px;
  color: black;
  width: 65%;
}
.fav {
  font-size: 1.7rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}
.image {
  width: 30%;
  border-radius: 16px;
}
.mealInfo {
  margin-left: 20px;
}
.input {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background-image: url("../img/herz-rot.png");
  cursor: pointer;
  transition: 0.5s;
}

.input:hover {
  background-image: url("../img/herz-leer.png");
}

/* .input:checked::before {
  background-image: url("../img/herz-rot.png");
} */
.name {
  font-size: 16px;
  line-height: 145%;
  color: var(--neutral-dark);
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  max-width: 150px;
}
.mealCategory {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.mealCategory p {
  margin-left: 10px;
}
.noMeal {
  width: 250px;
  margin: 0 auto;
  text-align: center;
}
.noMeal p {
  line-height: 1.5;
}
.noMeal a {
  text-decoration: none;
  background-color: var(--brand-secondary);
  color: var(--white);
  border-radius: 25px;
  padding: 10px 25px;
  display: inline-block;
  margin-top: 50px;
}

.dark .card {
  border: var(--border-darkmode);
  box-shadow: var(--shadow-darkmode);
}
.dark .name {
  color: var(--white);
}
.dark .mealCategory p {
  color: var(--neutral-grey-2);
}

@media only screen and (min-width: 768px) {
  .main {
    width: 100vw;
  }
  .fav {
    font-size: 2.5rem;
  }
}
