.search_header {
  display: flex;
  align-items: center;
  gap: 25%;
  margin: 0 5vw;
}

.main {
  margin: 0 5vw;
}

.content_section {
  margin-top: 75px;
}

.buttons_all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
  justify-content: center;
}

.buttons_named {
  /* display: flex;
  gap: 5%; */
  /* width: 375px; */
}

.buttons_named button {
  margin-right: 10px;
}
