.navbar {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 0;
  height: 10%;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid var(--brand-secondary);
}

.navbar button {
  border: none;
  background-color: transparent;
}

.active path:first-of-type {
  fill: #70b9be;
}

.active path:last-of-type {
  stroke: #fff;
}

.active_glass circle {
  fill: #70b9be;
}

.active_profile path {
  fill: #70b9be;
}
