.video_section {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(73, 72, 72, 0.5);
}

.video_player {
  width: 90%;
  height: 40%;
}

.close {
  color: white;
  font-weight: 600;
  font-size: 4rem;
  margin-left: auto;
  padding-right: 20px;
  cursor: pointer;
}

.close:hover {
  color: lightgray;
}

@media (min-width: 768px) {
  .close {
    padding-right: 40px;
  }

  .video_player {
    height: 55%;
  }
}
