@font-face {
  font-family: Montserrat;
  src: url('../public/Montserrat-VariableFont_wght.ttf');
}

:root {
  --brand-primary: #042628;
  --brand-secondary: #70b9be;
  --white: #ffffff;
  --neutral-dark: #042628;
  --neutral-gray4: #e6ebf2;
  --neutral-gray1: #48525f;
  --dark: #0a2533;
  --text-gray: #97a2b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Montserrat;
}
