@font-face {
  font-family: Montserrat;
  src: url("/Montserrat-VariableFont_wght.ttf");
}

:root {
  --brand-primary: #042628;
  --brand-secondary: #70b9be;
  --white: #ffffff;
  --neutral-dark: #042628;
  --neutral-gray4: #e6ebf2;
  --neutral-gray1: #48525f;
  --dark: #0a2533;
  --text-gray: #97a2b0;
  --neutral-grey-2: #97a2b0;

  --border-lightmode: 1px solid #fbfbfb;
  --border-darkmode: 1px solid rgba(111, 185, 190, 0.1);
  --shadow-lightmode: 0px 2px 16px 0px rgba(6, 51, 54, 0.1);
  --shadow-darkmode: 0px 2px 16px 0px rgba(111, 185, 190, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.dark {
  background-color: var(--neutral-dark);
  color: white;
}

.dark path {
  stroke: white;
}

.dark circle {
  stroke: white;
}

/*
@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
} */
